*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: yellow; */
    background-color:rgb(190, 190, 214);

    overflow-x: hidden;


}
a:hover{
    text-decoration: underline;
}


.container{
    width: 100%;
    background-color:rgb(190, 190, 214);
    display: flex;
    margin-top: 90px;
    justify-content: space-around;
    padding: 10px;
    

}

.right p{
    font-size: 18px;
    word-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

table,td,th{
    text-align: center;
    align-items: center;
    border-collapse:collapse;
    border:black 2px solid;
    padding: 15px;
    border-radius: 5px;
    border-spacing: 5px;
    margin: auto;
}
@media(max-width:1150px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
        /* justify-content: space-around; */
    }
    
    .right{
        margin-top: 50px;
    }
    .next{
        margin-top: 50px;
    }
    h2{
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;

    }
}