*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
body{
    background-color:rgb(190, 190, 214);

}

.container{
    width: 100%;
    /* background-color:whitesmoke; */
    background-color:rgb(190, 190, 214);

    display: flex;
    justify-content: space-around;
   /* margin-top: 100px; */
    
    

}
a:hover{
    text-decoration: underline;
}
.heading h2{
    color: black;
    margin-top: 65px;
    padding: 20px;
}
.subcontainer{
    background-color:rgb(190, 190, 214);

    width: 68%;
     display: flex; 
     /* flex-direction: row; */
     justify-content: center; 
    /* align-items: center; */
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 15px;
    /* margin-top: 5px;
    margin-left: 6px; */
   
}
.right{
    width: 32%;
   background-color:#FFFAFA;
    border: rgb(244, 245, 176) 2px solid;
    border-radius: 26px;
    padding: 30px;
    margin-top: 15px;
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 12px;
}
.right p{
    font-size: 18px;
    word-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
h2{
    text-align: center;

}

a{
    text-decoration: none;
    color: black;
}

table,td,th{
    text-align: center;
    align-items: center;
    border-collapse:collapse;
    border:black 2px solid;
    padding: 15px;
    border-radius: 5px;
    border-spacing: 5px;
}
.img{
    width: 225px;
    padding: 1em;

}
@media(max-width:1001px){
    .right span{
        display: none;
    }
    .container{
        /* flex-direction: column-reverse; */
        width: 100%;
    }
    .subcontainer{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
   
  
 
    .right{
        display: none;
    }

}
