*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 10px grey;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    width: 100%;
    background-color: white;
    color: rgb(7, 44, 7);
    
}

.container{
    margin-top: 3px;
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    /* margin-left: 8px; 
    margin-bottom: 8px;*/
    
    

}
.subcontainer{
    background-color:lightyellow;
    width: 68%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: center; */
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 15px;
    margin-top: 5px;
    /* margin-left: 6px; */
   
}
.right{
    width: 29%;
   background-color:lightyellow;
    border: rgb(244, 245, 176) 2px solid;
    border-radius: 26px;
    padding: 30px;
    margin-top: 15px;
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 12px;
}
.right p{
    font-size: 18px;
    word-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
h2{
    text-align: center;
    font-family: cursive;

}

a{
    text-decoration: none;
    color: black;
}

table,td,th{
    text-align: center;
    align-items: center;
    border-collapse:collapse;
    border:black 2px solid;
    padding: 15px;
    border-radius: 5px;
    border-spacing: 5px;
}
td{
    height: 150px;
    width: 250px;
}
a:hover{
    text-decoration: underline;
}

@media(max-width:1062px){
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .subcontainer{
        width:100vw;
    }
    .right{
        width: 100%;
        background-color:lightyellow;
        border: rgb(244, 245, 176) 2px solid;
        border-radius: 26px;
        padding: 30px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    #side{
        display: none;
    }
    header{
        font-size: 23px;
    }
}
@media(max-width:800px)
{
    #hide{
        display: none;

}
header{
    font-size: 21px;
}
}
@media(max-width:650px)
{
header{
    font-size: 19px;
}
}
@media(max-width:500px)
{
header{
    font-size: 15px;
}
}
@media(max-width:400px)
{
header{
    font-size: 12px;
}
}