*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 10px grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 100%;
    
}
h1{
    height: 75px;
    align-items: center;
    text-align: center;
    text-decoration: underline solid lightblue;
    background-color: azure;
}
/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: beige;
    margin: 6px;
    padding: 5px;
    width: 100vw;
}
.subcontainer{
      width: 68%;
      align-items: center;
       margin-left: 100px; 
      
      
} */
body{
    background-color:lightyellow;

}

.container{
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    /* margin-left: 8px; 
    margin-bottom: 8px;*/
    margin-top: 3px;
    justify-content: center;
    
    

}
.subcontainer{
    width: 68%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: center; */
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 6px;
   
}
.right{
    width: 22%;
    border: rgb(244, 245, 176) 2px solid;
    border-radius: 26px;
    padding: 30px;
    margin-top: 15px;
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 12px;
}
.right p{
    font-size: 18px;
    word-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
h2{
    text-align: center;
    /* font-family: cursive; */

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
#side{
    float: right;
    width: min-content;
    padding: 1em;
}

table,td,th{
    text-align: center;
    align-items: center;
    border-collapse:collapse;
    border:black 2px solid;
    padding: 15px;
    border-radius: 5px;
    border-spacing: 5px;
}
img{
    width: 420px;
    height: 300px;
    padding: auto;
    margin: 6px;
    
}
@media(max-width:1062px){
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .subcontainer{
        width:100vw;
    }
    .right{
        width: 100vw;
    }
    #side{
        display: none;
    }
    .right{
        display: none;
    }
}
@media(max-width:800px)
{
    #hide{
        display: none;

}

}