
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 10px grey;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    
    }
    .container{
    width: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    /* padding: 40px; */
    flex-wrap: wrap;
    margin: auto;
    /* margin-top: 0%; */
    padding-top: 100px;
    
    
    
    }
    .box1 img{
    width: 300px;
    height: 260px;
    border-radius: 20px 20px 0px 0px;
    
    }
    .box-common{
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 0px 10px 8px  grey;
    /* box-shadow: rgba(46, 4, 235, 0.15) 1.95px 1.95px 2.6px; */
    /* box-shadow: rgb(1 196 60 / 15%) 6px 6px 6.6px;
    border-left: 4px solid blue;
    border-bottom: 2px solid blue; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px; */
    margin: 40px;
    transition: all 0.7s;
    cursor: pointer;
    }
    .box-common:hover{
    /* transform: scale(1.08); */
    transform: scale(0.9);
    
    }
    .box-1content{
    padding: 10px 0px 10px 20px ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    /* color: black; */
    /* background-color: black; */
    }
    .box-1content h2{
    font-size: 21px;
    
    }
    .box-1content a{
        text-decoration: none;
    }
    .box-1content h5{
    font-size: 21px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .box-1content h5:hover {
        text-decoration: underline;
        /* color: blue; */
    }
    
    
    @media (max-width:1370px){
    .container{
        width: 100%;
    }
    }
    
    
    @media (max-width:1230px) {
    .box-common{
        margin: 20px;
    }
    @media (max-width:1105px) {
    
    .box1 img {
        width: 245px;
        height: 175px; 
    } 
    }
    @media (max-width:860px) {
    
    .box1 img {
        width: 220px;
        height: 150px;  
    }
    .box-1content h5{
        font-size: 19px;
        
        }
    
    .box-1content h2{
        font-size: 19px;
       
    }
    
    }
    @media (max-width:786px) {
    
    .box-common{
    margin: 15px;
    }
    
    .box1 img {
    width: 200px;
    height: 140px;
    
    }
    .box-1content h5{
        font-size: 2vw;
        
        }
    .box-1content h2{
        font-size: 18px;
        margin-top: -5px;
        
    }
    }
    @media (max-width:691px) {
    
    .box-common{
    margin: 15px;
    }
    
    .box1 img {
    width: 180px;
    height: 125px;
    
    }
    .box-1content h2{
        font-size: 17px;
        margin-top: -5px;
        
    }
    }
    @media (max-width:633px) {
    .container{
        width: 90%;
    }
    .box-1content h5{
        font-size: 2.6vw;
        
        }
    
    .box-common{
    margin: 15px;
    }
    
    .box1 img {
    width: 200px;
    height: 135px;
    
    }
    .box-1content h2{
        font-size: 19px;
        margin-top: -5px;
        
    }
    }
    @media (max-width:513px) {
    .container{
        width: 95%;
    }
    .box-1content {
        padding: 10px 0px 10px 8px;
    }
    .box-1content h5{
        font-size: 3vw;
        
        }
    
    .box-common{
    margin: 15px;
    }
    
    .box1 img {
    width: 180px;
    height: 125px;
    
    }
    .box-1content h2{
        font-size: 17px;
        margin-top: -8px;
        
    }
    }
    @media (max-width:445px) {
    .container{
        width: 95%;
    }
    
    .box-common{
    margin: 10px;
    }
    
    .box1 img {
    width: 162px;
    height: 110px;
    
    }
    .box-1content h2{
        font-size: 16px;
        margin-top: -8px;
        
    }
    .box-1content {
        padding: 9px 0px 10px 11px;
    }
    }
    @media (max-width:385px) {
    .container{
        width: 95%;
    }
    
    .box-common{
    margin: 10px;
    }
    .header h2{
    font-size: 24px;
    }
    
    .box1 img {
    width: 140px;
    height: 96px;
    
    }
    .box-1content h2{
        font-size: 14px;
        margin-top: -8px;
        
    }
    .box-1content {
        padding: 9px 0px 10px 11px;
    }
    }
    @media (max-width:337px) {
    .container{
        width: 97%;
    }
    
    .box-common{
    margin: 8px;
    }
    
    .box1 img {
    width: 135px;
    height: 90px;
    
    }
    
    .box-1content h2{
        font-size: 14px;
        margin-top: -8px;
        
    }
    .box-1content {
        padding: 9px 0px 10px 11px;
    }
    .box-1content h5{
        font-size: 3.5vw;
        
        }
    }
    
    
    
    